<!doctype html>
<html lang="en">
  <head>
    <title>GGJ20 - A game by Snappy Cobra</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div id="container">
      <canvas id="glCanvas">
        Canvas element not supported. Please update your browser.
      </canvas>
      <div id="main_menu">
        <div class="main_title">WegInDeWeg</div>
        <div class="subtitle">Want de weg moet weg.</div>
        <div id="start_button">START</div>
      </div>
    </div>
  </body>
</html>
