@font-face {
  font-family: 'Lobster';
  src:  url('../fonts/Lobster.ttf') format('woff');
  font-weight: 600;
  font-style: normal;
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  user-select: none;
  background-color: white;
}

html * {
  transition: visibility 0s ease-in-out 0.7s, opacity 0.7s ease-in-out;
}

#container {
  height: 100%;
  position: relative;
  display: block;
}

#glCanvas {
  position: absolute;
  border: 1px solid black;
  background-color: black;
  cursor: none;
}

#main_menu {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  /* background-color: rgba(250, 250, 250, 0.8); The game does this now */
  color: black;
}

.hidden {
  visibility: hidden;
}

.main_title {
  display: block;
  background-image: url("../images/Title.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  height: 20vh;
  width: 70vh;
  margin: auto;
  margin-top: 1vh;
}

.subtitle {
  text-align: center;
  font-size: 4vh;
  font-family: Lobster;
}

#start_button {
  text-align: center;
  background-color: white;
  color: black;
  width: 25vh;
  margin: auto;
  margin-top: 4vh;
  border-radius: 1vh;
  font-size: 6vh;
  box-shadow: 0vh 1vh 1vh;
  cursor: pointer;
  font-family: Lobster;
}

#start_button:hover {
  box-shadow: 0vh 0.5vh 1vh;
}

.instructions {
  display: block;
  background-image: url("../images/Instructions.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  height: 50vh;
  width: 70vh;
  margin: auto;
  margin-top: 6vh;
}

#snappy-logo {
  position: absolute;
  background-image: url("../images/Logo_text.svg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  height: 10vh;
  width: 35vh;
  bottom: 5vh;
  right: 0;
}

#lives {
  transition: opacity 2.0s ease-in-out;
  transition-delay: 1s;
  position: absolute;
  top: 10px;
  left: 10px;
}

#score {
  transition: opacity 2.0s ease-in-out;
  transition-delay: 1s;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Lobster;
  font-size: 5vh;
  color:white;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

#score_value {
  display: inline-block;
}

.island {
  display: inline-block;
}

.live {
  display: inline-block;
  background-image: url("../images/Grain.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  width: 100px;
  height: 100px;
}

#gameover {
  transition-delay: 2s;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  color:black;
}

.gameover_image {
  display: block;
  background-image: url("../images/GameOver.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  height: 50vh;
  width: 70vh;
  margin: auto;
  margin-top: 1vh;
}

#restart_button {
  text-align: center;
  background-color: white;
  color: black;
  width: 35vh;
  margin: auto;
  margin-top: 4vh;
  border-radius: 1vh;
  font-size: 6vh;
  box-shadow: 0vh 1vh 1vh;
  cursor: pointer;
  font-family: Lobster;
}

#restart_button:hover {
  box-shadow: 0vh 0.5vh 1vh;
}